{% extends "layout/base.twig" %}

{% block body %}
  {{ parent() }}
  <div id="react-render-target-app">
    {% include "layout/loading.twig" %}
  </div>
  <script>window.auth = {{ auth | json_encode | raw }};</script>
{% endblock %}
