{% extends "layout/base.twig" %}

{% block body %}
  {{ parent() }}
  <div>forget password</div>
  <div>
    用户名/邮箱
    <input id="username"/>
  </div>
  <button onclick="forget()">我真忘了</button>
  <script>
    function forget() {
      const data = {
        username: document.getElementById('username').value
      };
      axios.post('auth/forget', data);
    }
  </script>
{% endblock %}
