{% extends "layout/base.twig" %}

{% block body %}
  {{ parent() }}
  <div>reset password</div>
  <div>
    token
    <input id="token" value="{{ token }}"/>
  </div>
  <div>
    username
    <input id="username"/>
  </div>
  <div>
    password
    <input id="password"/>
  </div>
  <div>
    password confirmation
    <input id="password_confirmation"/>
  </div>
  <button onclick="reset()">重置</button>
  <script>
    function reset() {
      const token = document.getElementById('token').value;
      const data = {
        username: document.getElementById('username').value,
        password: CryptoJS.SHA1(document.getElementById('password').value).toString(),
        password_confirmation: CryptoJS.SHA1(document.getElementById('password_confirmation').value).toString()
      };
      axios.post('auth/reset/' + token, data);
    }
  </script>
{% endblock %}
