<html>
<head>
  {% block head %}
    <meta charset="utf-8"/>
    <title>{{ title }}</title>
    {{ assets.getCssCode | raw }}
  {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
{{ assets.getJsCode | raw }}
</body>
</html>
