<style>
  .loading { text-align: center; margin-top: 200px; }
  .loading > .loader-inner > div { background-color: #1890ff; }
</style>
<div class="loading">
  <div class="loader-inner ball-pulse">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div>emm...马上就加载好了</div>
</div>
